Package: com.ipadkid.sinfoolrepo
Name: Sinfool Repo Icons
Description: Tweaks that are for specific apps will have that app's icon as the package icon. To refresh icon cache, run "sinfoolicons" in Terminal, if needed. Will automatically refresh upon installing any tweaks from this repo 
Essential: yes
Author: ipad_kid <ipadkid358@gmail.com>
Maintainer: ipad_kid <ipadkid358@gmail.com>
Version: 0.4
Architecture: iphoneos-arm
Section: System
